#icon {
    height: 62px;
}

body{
    margin: 0;
    background-color: rgb(99, 18, 18);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: rgb(139, 37, 37);
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
}

#noticias {
    display: flex;
    background-color: rgb(141, 20, 20);
    flex-wrap: wrap;
    margin: 40px;
    justify-content: center;
}

.noticia {
    background-color: rgb(160, 44, 44);
    border: 5px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.img_noticias  {
    max-width: 100%;
    height: 300px;
}

footer {
    background-color: rgb(124, 1, 1);
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}